<!DOCTYPE html>
<html>
<head>
    <title>Изучаем VueRouter</title>
    <meta charset="utf-8" />
</head>
<body>
    <div id="app">
        <nav-bar v-bind:items="['Home', 'Services', 'About']" v-on:change-item="changeItem"></nav-bar>
        <router-view></router-view>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/http-vue-loader"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

    <script>
        var baseItem = httpVueLoader('/js/components/base-item.vue');
        var homeItem = httpVueLoader('/js/components/home-item.vue');
        var ttt = { template: '<h1>Страница не найдена</h1>' };

        new Vue({
            el: "#app",
            components: {
                'nav-bar': httpVueLoader('/js/components/nav-bar.vue')
            },
            methods: {
                changeItem: function (item) {
                    this.$router.push({ path: `/${item}` });
                }
            },
            router: new VueRouter({
                mode: 'history',
                routes: [
                    { path: '/', redirect: '/home' },
                    {
                        path: '/home',
                        component: homeItem,
                        children: [
                            {
                                path: ':label',
                                component: baseItem
                            }, {
                                path: '',
                                component: ttt
                            }]
                    },
                    { path: '/:label', component: baseItem }
                ]
            })
        });
    </script>
</body>
</html>